# Created by venv; see https://docs.python.org/3/library/venv.html

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/
Modelingv1.ipynb

# VS Code
.vscode/

# Data - IGNORE all raw data
*.csv

# Models - IGNORE all model files
*.png
*.pkl
models/model_registry.json

# Environment variables
.env

# API / runtime
*.log
.env.local

# OS files
.DS_Store
Thumbs.db

# batch testing in progress
/scripts
